<script type="text/javascript">
  var host = "designforum.us";
  if ((host == window.location.host) && (window.location.protocol != "https:"))
    window.location.protocol = "https";
</script>
<meta charset="utf-8" />
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="{{ page.description }}" />
<title>{{ site.title }}</title>
<link href="{{ site.baseurl }}/favicon.png" rel="shortcut icon" type="image/x-icon" />
<link href="{{ site.baseurl }}/apple-icon.png" rel="apple-touch-icon" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css" />
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<meta property="og:title" content="Design Forum" />
<meta name="twitter:title" content="Design Forum" />
<meta property="og:image" content="{{ site.baseurl }}/assets/img/ogImage.png" />
<meta name="twitter:image" content="{{ site.baseurl }}/assets/img/ogImage.png" />
<meta property="og:description" content="{{ site.description }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
<meta name="twitter:site" content="{{ site.twitter_username }}" />
<meta name="twitter:card" content="summary_large_image" />
